<div class="card">
  <%= link_to image_tag(hobby.image, class: :card__img ), root_path%>
  <div class="card__body">
    <%= link_to hobby.category, root_path, class: :card__title%>
    <p class="card__summary">
      <%= hobby.type %>
    </p>
    <%= link_to "by #{hobby.user}", root_path, class: :card__user %>
  </div>
</div>