<div class="index_item">
  <%= link_to hobby.type, root_path, class: :index_type_idd%>
  <%= link_to image_tag(hobby.image, class: :index_image_idd ), root_path%>
    <p class="index_category">
      <%= hobby.category.name %>
    </p>
    <%= link_to "投稿：" + hobby.user.nickname + "さん", root_path, class: :index_user_idd %>
</div>


