<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
      <div class="greeting">
        <%= "Hello," %>
        <%= link_to current_user.nickname + "さん", user_path(current_user.id), class: :greeting__link%>
      </div>
    <% end %>
    <div class="index_title">
    <%= "NEW"  %>
    </div>
    <div class="index_new">
      <%= render partial: 'hobby', collection: @hobbies %>
    </div>
  </div>
</main>
